header {
  background-image: url(https://reload.dk/sites/default/files/images/blog-post/technology.jpg);
  background-size: cover;
  width: auto;
  text-align: center;
  color: #ffffcc;
  height: 120px;

}
